@import "src/scss/variables";

.goods {
  @include flex($flex, $wrap, null, $fullPers);
  margin: $fullPx*0.15;

  .myGoods {
    @include flex($flex, $wrap, $center, $fullPers);

    .title {
      @include flex($flex, null, $center, $fullPers);
      margin: $fullPx*0.05;

      .btn {
        margin: $margin;
      }
    }
  }

  .sum {
    @include flex($flex, null, $center, $fullPers);
    font-size: $fullPx*0.26;
  }
}