@import "src/scss/variables";

.main {
  margin-top: $fullPx*0.15;
  @include flex($flex, $wrap, $center, $fullPers);

  .inp {
    @include size($fullPers*0.9, $fullPx*0.7);
    margin-bottom: $fullPx*0.2;
    display: $flex;
    align-items: $center;

    .searchProduct {
      @include size($fullPers, $fullPx*0.25);
      border-radius: $fullPx*0.5;
      outline: $none;
      padding-left: $fullPx*0.15;
    }
  }

  .list {
    @include flex($flex, $wrap, $space-around, $fullPers);
  }

  .card {
    box-shadow: $box-shadow;
    border-radius: $fullPx*0.04;
    padding: $fullPx*0.15;
    margin: $fullPx*0.15;
    border: $border;
    @include flex($flex, $wrap, $center, null);

    .forimg, .forbtn {
      @include flex($flex, null, $center, $fullPers);
    }

    .img {
      min-width: $fullPx*0.5;
      border-radius: $fullPx*0.15;
      margin-bottom: $fullPx*0.15;
    }

    .name {
      margin-top: $fullPx*0.15;
      padding: $fullPx*0.05;
      border: $border;
      border-radius: $fullPx*0.05;
      @include flex($flex, $wrap, $center, $fullPers);

      h4 {
        margin: $fullPx*0.05;
      }

      .info {
        @include flex($flex, null, $center, $fullPers);
        @extend %font-family;

        .description {
          width: 100%;
          @extend %font-family;
          padding: $fullPx*0.55;
        }
      }
    }
  }
}

.searchProduct {
  padding-left: $fullPx*0.15;
}

@media screen and (min-width: 992px) {
  .card {
    width: $fullPers*0.25;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .card {
    width: $fullPers*0.35;
  }
}

@media screen and (max-width: 575px) {
  .card {
    width: $fullPers*0.65;
  }
}


